<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  >

    <!-- inertial for the box-->

    <xacro:macro name="inertial_box" params="mass x y z origin_xyz:= '0.15 0 0.075' origin_rpy := '0 0 0'">
        <inertial>
            <origin xyz = '${origin_xyz}' rpy = '${origin_rpy}'/>
            <mass value = '${mass}'/>
            <inertia    
                    ixx = "${mass*(z*z + y*y)/12.0}" 
                    iyy = "${mass*(x*x + z*z)/12.0}" 
                    izz = "${mass*(x*x + y*y)/12.0}"
                    ixy = "0.0" ixz = "0.0" iyz = "0.0"/>
        </inertial>
    </xacro:macro> 

    <!-- inertial for the cylinder-->

    <xacro:macro name="inertial_cylinder_z" params="mass radius length origin_xyz:= '0 0 0' origin_rpy := '0 0 0'">
        <inertial>
            <origin xyz = '${origin_xyz}' rpy = '${origin_rpy}'/>
            <mass value = '${mass}'/>
            <inertia 
                    ixx = "${mass*(3*radius*radius + length*length)/12.0}" 
                    iyy = "${mass*(3*radius*radius + length*length)/12.0}" 
                    izz = "${0.5*mass*radius*length}"
                    ixy = "0.0" ixz = "0.0" iyz = "0.0"/>
        </inertial>
    </xacro:macro> 


    <!-- inertial for the sphere-->


    <xacro:macro name="inertial_sphere" params="mass radius origin_xyz:= '0 0 0' origin_rpy := '0 0 0'">
        <inertial>
            <origin xyz = '${origin_xyz}' rpy = '${origin_rpy}'/>
            <mass value = '${mass}'/>
            <inertia 
                    ixx = "${0.4*mass*radius*radius}" 
                    iyy = "${0.4*mass*radius*radius}" 
                    izz = "${0.4*mass*radius*radius}"
                    ixy = "0.0" ixz = "0.0" iyz = "0.0"/>
        </inertial>
    </xacro:macro> 
</robot>